@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
   /*height: 100%;*/
}

body { background-image: linear-gradient(to right, #CDE7B0, #A3BFA8 );}

main {background-color: white; 
    width: 600px;
padding: 10px;
margin: auto;
border-radius: 10px;
box-shadow: 5px 5px 15px #17314dbe;}

h1 {color: #59594A;
text-align: center;
text-shadow: 1px 1px 2px #3f3f28  ;}

h2{color: #4F7CAC;}

p {
    text-align: justify;
}